.wrapper {
  .selection {
    border: 1px solid #c4c4c4;
    border-radius: 35px;
    // width: 390px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;

    p {
      font-size: 32px;
      font-weight: 400;
    }
  }

  .selection:hover {
    border: 2px solid #0097ff;
  }
}
