.wrapper {
  display: flex;
  flex-wrap: wrap;

  div {
    flex: 1 0 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
  }
}
