.line {
  position: fixed;
  bottom: 123px;
  left: 81%;
  transform: scale(0.8);
  cursor: pointer;
}

.messenger {
  position: fixed;
  bottom: 68px;
  left: 81%;
  transform: scale(0.8);
  cursor: pointer;
}

@media screen and (min-width: 1023px) {
  .line,
  .messenger {
    position: fixed;
    left: 93%;
  }
}
