.wrapper {
  // border: 1px solid red;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  position: fixed;
  top: 0;
  width: 100vw;
}

.left_block {
  display: flex;
  align-items: center;
}

.right_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-right: 10px;
}

.avatar {
  transform: scale(0.8);
  cursor: pointer;
}

.detail_btn {
  border-radius: 30px;
  width: 75px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  cursor: pointer;
}
