.wrapper {
  // border: 1px solid red;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  position: fixed;
  top: 0;
  width: 100vw;
}

.left_block {
  display: flex;
  align-items: center;
}

.right_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.image {
  transform: scale(0.6);
}
