.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    font-size: 32px;
    font-weight: 400;
    text-align: center;

    span {
      margin-top: 10px;
    }
  }

  p:hover {
    border: 2px solid #0097ff;
  }

  .disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    background-color: #434343;
    font-size: 32px;
    font-weight: 400;
    text-align: center;

    span {
      margin-top: 10px;
    }
  }
}
@media screen and (min-width: 1023px) and (max-width: 1919px) {
  .wrapper {
    p {
      height: 55px;
      width: 55px;
      font-size: 20px;
      span {
        margin-top: 4px;
      }
    }
    .disabled {
      width: 55px;
      height: 55px;
      font-size: 20px;
      span {
        margin-top: 4px;
      }
    }
  }
}
